# Pipeline erstellen

Packete importieren

In [76]:
import pandas as pd
import numpy as np
import pickle

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

Laden der Datensets aus Pickle File

In [77]:
with open('datasets.pickle', 'rb') as handle:
    datasets = pickle.load(handle)

In [78]:
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

In [79]:
X_train = datasets['X_train']
X_train.head()

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
109       3  female  28.0      1      0  24.1500        Q
391       3    male  21.0      0      0   7.7958        S
6         1    male  54.0      0      0  51.8625        S
405       2    male  34.0      1      0  21.0000        S
291       1  female  19.0      1      0  91.0792        C

In [85]:
numeric_features = ['Age', 'SibSp', 'Parch', 'Fare']
categorical_features = ['Pclass', 'Sex', 'Embarked']

preprocessor = ColumnTransformer(
    transformers = [
        (
            'num', 
            numeric_transformer,
            numeric_features
        ),
        (
            'cat',
            categorical_transformer,
            categorical_features
        )
    ])

In [86]:
res = preprocessor.fit_transform(X_train)

In [87]:
# create new columns
new_columns = numeric_features
for feature in categorical_features:
    new_columns += X_train[feature].unique().tolist()

In [88]:
df_res = pd.DataFrame(res, columns=new_columns)

In [89]:
df_res.head()

,Age,SibSp,Parch,Fare,3,1,2,female,male,Q,S,C
0,-0.118140,0.443525,-0.480816,-0.149674,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
1,-0.662158,-0.453605,-0.480816,-0.510191,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,1.902498,-0.453605,-0.480816,0.461229,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.348161,0.443525,-0.480816,-0.219113,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,-0.817591,0.443525,-0.480816,1.325734,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

## Outlier Detection Transformer erstellen

In [ ]:
X = pd.Series(X).copy()
q1 = X.quantile(0.25)
q3 = X.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (self.factor * iqr)
upper_bound = q3 + (self.factor * iqr)
X.loc[((X < lower_bound) | (X > upper_bound))] = np.nan